@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-sm-center">
        <h1 class="display-4" style="color:lightgray"><strong>ClassManagement</strong></h1>
        <h3 style="color:black">Acheive The Goal and Start To Learn Technical Skills</h3>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
    <div class="col-md-4">
       <img src="~/image/Javascript.png" alt="javaScript CourseList"  />
    </div>
</div>

