@{ 
    ViewData["Title"] = "All Coourses List";
    Layout = null;
}

<div class="container">
    <div class="card-header">
        <h4 class="text-uppercase p-2 text-center"><i class="fa-solid fa-users"></i> List of Courses</h4>
    </div>
    <div class="card-body">
        <div class="col-md-4">
            <img src="~/image/C#.png" alt="Csharp" /><br />
            <a href="#" class="btn btn-primary">Csharp</a>
        </div>
        <div class="col-md-4">
            <img src="~/image/C#.png" alt="Csharp" /><br />
            <a href="#" class="btn btn-primary">Csharp</a>
        </div>
    </div>
</div>