@model ClassManagement.Models.ChangePassword

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="ChangePassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group col-md-6">
                <label asp-for="CurrentPassword" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="CurrentPassword" class="form-control" id="Password" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <i class="fa-solid fa-eye" id="ShowPassword"></i>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="NewPassword" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="NewPassword" class="form-control" id="Password" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <i class="fa-solid fa-eye" id="ShowPassword"></i>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="ConfirmPassword" class="form-control" id="Password" />
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <i class="fa-solid fa-eye" id="ShowPassword"></i>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="row">
                <button asp-action="ChangePassword" asp-controller="Account" class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src=""></script>
<script>
    $(document).ready(function () {
        $('#ShowPassword').hover(function () {
            $('#Password').attr('type', 'text');
            $('.icon').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
        },
            function () {
                $('#Password').attr('type', 'Password');
                $('.icon').removeClass('fa fa-eye').addClass('fa fa-eye');
            });
        $("#ShowPassword").click(function () {
            $('#Password').attr('type', $(this).is(':checked') ? 'text' : 'password');
        });

    });
</script>
